{% extends 'base.html.twig' %}

{% block content %}
    <h1>Mes informations</h1>
    <br><br>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marisupilami.id }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ marisupilami.race }}</td>
            </tr>
            <tr>
                <th>Famille</th>
                <td>{{ marisupilami.famille }}</td>
            </tr>
            <tr>
                <th>Nourriture</th>
                <td>{{ marisupilami.nourriture }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ marisupilami.age }}</td>
            </tr>
        <tr>
            <th>Ma liste d amis  &nbsp;&nbsp;</th>
        <td>

            {% for friend in marisupilami.friends %}

                <a href="{{ path('Action_show1', {
                    'id': friend.id
                }) }}">
                    {{ friend.username }}
                </a>
            {% endfor %}

        </td>

            <tr>
                <td>
                    <br><br>
                    <a  class="btn btn-success"  href="{{ path('show_ajout') }}">Ajouter un ami &nbsp; <span class="glyphicon glyphicon-plus"></span> </a>
                </td>
             <td>
                 <br><br>
                &nbsp;&nbsp; <a  class="btn btn-danger"  href="{{ path('show_supp') }}">Supprimer un ami <span class="glyphicon glyphicon-remove"></span> </a>
             </td>

            </tr>


        </tr>

        </tbody>
    </table>
<br><br><br>
    <ul>
        <li>
            <a href="{{ path('Action_index') }}">Retour</a>
        </li>


    </ul>
{% endblock %}
